
@font-face {
    font-family: "Cascadia";
    src: url("../assets/fonts/CascadiaMono-SemiBold.ttf");
}

@font-face {
    font-family: "Cascadia-Bold";
    src: url("../assets/fonts/CascadiaMono-Bold.ttf");
}