
.hover {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.247);
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hover > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2.5rem;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(202, 202, 202, 0.849);
    height: fit-content;
}

.help-text {
    width: 30rem;
}

.game-stats {
    width: 50rem;
}

.stats {
    font-size: 10rem;
}

.more-wave {
    border: 4px solid rgb(54, 54, 54);
    margin-top: 5rem;
    margin-bottom: 20px;
    padding: 0.8rem;
    border-radius: 4px 4px;
    width: fit-content;
    font-size: 1.3rem;
    background-color: rgb(66, 66, 66);
    box-shadow: 0 18px 0 0 rgb(39, 39, 39);
    color:rgb(218, 218, 218);
    cursor: pointer;
}

.more-wave:hover {
    transform: translateY(3px);
    box-shadow: 0 15px 0 0 rgb(39, 39, 39);
}

.more-wave:active {
    transform: translateY(9px);
    box-shadow: 0 9px 0 0 rgb(39, 39, 39);
}

.help-text > h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    cursor: default;
}

kbd {
    background-color: #aaa;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 0 4px;
    text-shadow: none;
}

p {
    font-size: 1.3em;
    cursor: default;
    font-family: Cascadia-Bold;
    text-shadow: rgba(22, 22, 22, 0.274) 1px 1px 1px;
}

li {
    margin-top: 0.7rem;
    cursor: default;
}

ul {
    margin-bottom: 2rem;
}

