
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-cache);
}

.god {
    border: 3px solid #919191;
    background-color: rgb(233, 233, 233);
    margin: auto 0;
    margin-left: 2rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.god:disabled {
    cursor: not-allowed;
}

.god > div {
    margin: 0 auto;
    height: 64px;
    width: 64px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
}

.info-button {
    border: 3px solid #919191;
    background-color: rgb(233, 233, 233);
    margin: auto 0;
    margin-right: 1rem;
    height: calc(3rem + 6px);
    width: calc(3rem + 6px);
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.info-button:active {
    border-color: rgb(233, 233, 233) !important;
    background-color: #919191 !important;
}

.info-button:disabled {
    background-color: #919191 !important;
    cursor: not-allowed !important;
}

.wave {
    margin: auto 0;
    padding: 0 6px;
    border: 3px solid #919191;
    background-color: rgb(233, 233, 233);
    margin-right: 2rem;
    height: 3rem;
    min-width: 8.4rem;
    font-size: 2rem;
}

.wave > span {
    line-height: 3rem;
}